# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js & Build Output
/.next/
/out/
/build
/dist
*.tsbuildinfo
next-env.d.ts

# Debug & Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing & Coverage
/coverage
/.nyc_output

# Environment Variables (Ignore all env files EXCEPT .env.example)
.env
.env*.local
.env.development
.env.production
.env.test
.env.local
.env*
!.env.example

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

# Vercel & Temporary Files
.vercel
.cache/
tmp/
